@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss"

@layer utilities{
    .font-inter{
        font-family: "Inter", sans-serif;
    }
    .btn{
        background-color: linear-gradient(rgba(145, 0, 248, 1),rgba(251, 9, 180, 1) ,  rgba(247, 233, 63, 1));
    }
}
